#card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  width: 240px;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.card:hover {
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: .3s ease-in-out;
}

.card-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.saying {
    text-align: center;
    font-style: italic;
}